doctype html
html(lang="es", dir="ltr")
    head
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="style.css")

    body#main
        a.button#button OPEN KEYBOARD
        div.main
            div.minitel#base
                div.minitel__b
                
                div.mt#mt
                    div.mt__front.face 
        
                        div.mta
                            div.mta__front.face 
                            div.mta__back.face 
                            div.mta__right.face 
                            div.mta__left.face 
                            div.mta__top.face 
                            div.mta__bottom.face 
                    div.mt__back.face 
                    div.mt__right.face 
                    div.mt__left.face 
                    div.mt__top.face 
                    
                        div.key-numbers
                            div.key-column
                                div.key-nb#9.key
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 9
                                    div.key-nb__bottom.face 
                                div.key-nb#8.key
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 8
                                    div.key-nb__bottom.face 
                                div.key-nb#7
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 7
                                    div.key-nb__bottom.face 
                            div.key-column
                                div.key-nb#6
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 6
                                    div.key-nb__bottom.face 
                                div.key-nb#5
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 5
                                    div.key-nb__bottom.face 
                                div.key-nb#4
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 4
                                    div.key-nb__bottom.face 
                            div.key-column
                                div.key-nb#3
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 3
                                    div.key-nb__bottom.face 
                                div.key-nb#2
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 2
                                    div.key-nb__bottom.face 
                                div.key-nb#1
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 1
                                    div.key-nb__bottom.face 
                            div.key-column
                                div.key-nb
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face *
                                    div.key-nb__bottom.face 
                                div.key-nb#0
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face 0
                                    div.key-nb__bottom.face 
                                div.key-nb
                                    div.key-nb__front.face 
                                    div.key-nb__back.face 
                                    div.key-nb__right.face 
                                    div.key-nb__left.face 
                                    div.key-nb__top.face #
                                    div.key-nb__bottom.face 
                    
                        div.keys    
                            div.key-column
                                div.key-b
                                    div.key-b__front.face 
                                    div.key-b__back.face 
                                    div.key-b__right.face 
                                    div.key-b__left.face 
                                    div.key-b__top.face 
                                    div.key-b__bottom.face 
                                div.key-b
                                    div.key-b__front.face 
                                    div.key-b__back.face 
                                    div.key-b__right.face 
                                    div.key-b__left.face 
                                    div.key-b__top.face 
                                    div.key-b__bottom.face 
                                div.key-b
                                    div.key-b__front.face 
                                    div.key-b__back.face 
                                    div.key-b__right.face 
                                    div.key-b__left.face 
                                    div.key-b__top.face  
                                    div.key-b__bottom.face 
                                div.key-b
                                    div.key-b__front.face 
                                    div.key-b__back.face 
                                    div.key-b__right.face 
                                    div.key-b__left.face 
                                    div.key-b__top.face 
                                    div.key-b__bottom.face 
                                div.key-b
                                    div.key-b__front.key-b__front--g.face 
                                    div.key-b__back.key-b__back--g.face 
                                    div.key-b__right.key-b__right--g.face 
                                    div.key-b__left.key-b__left--g.face 
                                    div.key-b__top.key-b__top--g.face 
                                    div.key-b__bottom.key-b__bottom--g.face 
                    
                            div.key-column
                                div.key#a
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face A
                                    div.key__bottom.face 
                                div.key#z
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face Z
                                    div.key__bottom.face 
                                div.key#e
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face E
                                    div.key__bottom.face 
                                div.key#r
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face R
                                    div.key__bottom.face 
                                div.key#t
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face T
                                    div.key__bottom.face 
                                div.key#y
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face Y
                                    div.key__bottom.face 
                                div.key#u
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face U
                                    div.key__bottom.face 
                                div.key#i
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face I
                                    div.key__bottom.face 
                                div.key#o
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face O
                                    div.key__bottom.face 
                                div.key#p
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face P
                                    div.key__bottom.face 
                                div.key#Backspace
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face 
                                    div.key__bottom.face 
                            div.key-column
                                div.key#q
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face Q
                                    div.key__bottom.face 
                                div.key#s
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face S
                                    div.key__bottom.face 
                                div.key#d
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face D
                                    div.key__bottom.face 
                                div.key#f
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face F
                                    div.key__bottom.face 
                                div.key#g
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face G
                                    div.key__bottom.face 
                                div.key#h
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face H
                                    div.key__bottom.face 
                                div.key#j
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face J
                                    div.key__bottom.face 
                                div.key#k
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face K
                                    div.key__bottom.face 
                                div.key#l
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face L
                                    div.key__bottom.face 
                                div.key#m
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face M
                                    div.key__bottom.face 
                                
                            div.key-column
                                div.key#w
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face W
                                    div.key__bottom.face 
                                div.key#x
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face X
                                    div.key__bottom.face 
                                div.key#c
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face C
                                    div.key__bottom.face 
                                div.key#v
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face V
                                    div.key__bottom.face 
                                div.key-s.key#espace
                                    div.key-s__front.face 
                                    div.key-s__back.face 
                                    div.key-s__right.face 
                                    div.key-s__left.face 
                                    div.key-s__top.key__top.face ESPACE
                                    div.key-s__bottom.face 
                                div.key#b
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face B
                                    div.key__bottom.face 
                                div.key#n
                                    div.key__front.face 
                                    div.key__back.face 
                                    div.key__right.face 
                                    div.key__left.face 
                                    div.key__top.face N
                                    div.key__bottom.face 
                                
                                
                    div.mt__bottom.face 
                //------------
                div.mfb
                    div.mfb__front.face #[span KAPPA]
                    div.mfb__back.face 
                    div.mfb__right.face 
                    div.mfb__left.face 
                    div.mfb__top.face 
                    div.mfb__bottom.face 
                div.mft
                    div.mft__front.face 
                    div.mft__back.face 
                    div.mft__right.face 
                    div.mft__left.face 
                    div.mft__top.face 
                    div.mft__bottom.face 
                div.mfl
                    div.mfl__front.face 
                    div.mfl__back.face 
                    div.mfl__right.face 
                    div.mfl__left.face 
                    div.mfl__top.face 
                    div.mfl__bottom.face 
                div.mfr
                    div.mfl__front.face 
                        div.led#led
                    div.mfl__back.face 
                    div.mfl__right.face 
                    div.mfl__left.face 
                    div.mfl__top.face 
                    div.mfl__bottom.face 
                //------------
                - var br = '<br>'
                div.mb
                    div.mb__front.face 
                        div.screen #[div.screen__shadow#screen-s] GET GOOD N00B !{br}!{br} #[span.text#screen]#[span.cursor ]
                    
                    div.mb__back.face 
                    div.mb__right.face 
                    div.mb__left.face 
                    div.mb__top.face 
                    div.mb__bottom.face 
                    
                div.ml
                    div.ml__front.face 
                    div.ml__back.face 
                    div.ml__right.face 
                    div.ml__left.face 
                    div.ml__top.face 
                    div.ml__bottom.face 
                
                div.mr
                    div.mr__front.face 
                    div.mr__back.face 
                    div.mr__right.face 
                    div.mr__left.face 
                    div.mr__top.face 
                    div.mr__bottom.face 
                
                div.mc
                    div.mc__front.face 
                    div.mc__back.face 
                    div.mc__right.face 
                    div.mc__left.face 
                    div.mc__top.face 
                    div.mc__bottom.face 
        
                div.mbl
                    div.mbl__front.face 
                    div.mbl__back.face 
                    div.mbl__right-1.face 
                    div.mbl__right-2.face 
                    div.mbl__left-1.face 
                    div.mbl__left-2.face 
                    div.mbl__top.face 
                    div.mbl__bottom.face 
                    
                div.mbl-2
                    div.mbl__front.face 
                    div.mbl__back.face 
                    div.mbl__right-1.face 
                    div.mbl__right-2.face 
                    div.mbl__left-1.face 
                    div.mbl__left-2.face 
                    div.mbl__top.face 
                    div.mbl__bottom.face 

                //- .pyramid
                //-     .base.face
                //-     .side.side__left.face
                //-     .side.side__right.face
                //-     .side.side__front.face
                //-     .side.side__back.face
        
        script(src="script.js")
