:root{
  --blue-1: #1CB5BE;
  --blue-1-light: #1fcad4;
  --blue-1-dark: #19a0a8;
  --blue-2: #006E85;
  --blue-2-light: #00839e;
  --blue-2-dark: #00596b;
  --blue-3: #175373;
  --blue-3-light: #1b6288;
  --blue-3-dark: #13445e;

  --beige-1: #FAF5EB;
  --beige-1-light: ;
  --beige-1-dark: #f5ebd7;
  --beige-2: #F7EFE4;
  --beige-2-light: #fdfbf8;
  --beige-2-dark: #f1e3d0;
  --beige-3: #A0A1A3;
  --beige-3-light: #adaeb0;
  --beige-3-dark: #939496;
  --beige-a: #e4ddd2;
  --beige-a-light: #eee9e2;
  --beige-a-dark: #dad1c2;

  --brown-1: #B69992;
  --brown-1-light: #c0a7a1;
  --brown-1-ultra-light: #e9e0de;
  --brown-1-dark: #ac8b83;
  --brown-2: #7F6C78;
  --brown-1-light: #8c7885;
  --brown-2-dark: #71606b;
  --brown-3: #574C65;
  --brown-3-light: #645774;
  --brown-3-ultra-light: #706282;
  --brown-3-dark: #4a4156;
}

